# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*